1) Dodac do navbar galeria
2) dodca dynamiczne dodawnie zdjec na stronie głownej
3) baza danych powinna zwracac obecną konfiguracje podstron
4) do postów dodać mozliwosc galerii zdjec
5) mozliwosc dodawnia lokalnie przechowywanych zdjeć
6) deadline 23.12



Plan odnosnie wysłania zdjecia na serwer:
z poziomu panelu administratora miec mozliwośc wysłania oraz usuniecie zdjecia z serweru,
gdzie to wyswietli mi sie pełna lista wszystkich zdjec z mojego serwera.

nastepnie dan zdjecia bede mógł przydzielic do danej sekcji na mojej stronie.




musi pobierac zdjecia z katalogu na serwesrze, wyswietlac je w sekcji select i nastepenie dodawac je na do odpowiedniego posta