{% extends "base.html" %}
{% block content %}
<div class="sectionAboutInGeneral">
    <div class="sectionAbout">
        <h2>WSPÓŁCZESNOŚĆ</h2>
        <p>Obecnie LKS Wisła Rząska zrzesza ponad 100 aktywnych zawodników. Nasi podopieczni od pierwszych lat życia mają możliwość przejścia przez etap szkolenia w
            praktycznie każdej kategorii wiekowej. Rozpoczęcie treningów pod naszym szyldem jest świetną okazją do sportowego sprawdzenia się w zooraganizowanej
            strukturze klubu piłkarskiego. Dla młodszych zawodników jesteśmy szczególnym miejscem do rozwoju i wyeksponowania swoich możliwości,
            w taki sposób, aby spróbować swoich sił jeszcze wyżej.</p>
    </div>

    <div class="sectionAbout">
        <h2>HISTORIA</h2>
        <p>Tradycja piłkarskiego klubu sportowego w Rząsce sięga roku 1925, jednak obecną nazwę zawdzięcza on powiązaniom z Towarzystwem Sportowym Wisła, kiedy to w 1936 roku stał się
            jednym z wielu obecnych na terenach Galicji filii TS. W 1925 roku Władysław Sikorski założył w Rząsce klub Gwiazda. Rok później zespół ten przyjął nazwę Warna,
            a jednym z jego działaczy był Stanisław Marcinkowski. Marcinkowski - wcześniej lewoskrzydłowy krakowskiej Wisły - zamieszkał w Rząsce, został prezesem Gwiazdy-Warny i znacząco
            przyczynił się do rozwoju klubu (założył chociażby sekcję teatralną). Warna była rozpoznawalna przez zielono-białe barwy, a jej emblematem była zielona gwiazda.
            Rozkwit klubu nastąpił w latach 50. gdy działalność prowadziły sekcje piłki nożnej, tenisa stołowego, zapasów, strzelectwa i kolarstwa.
            Klub zawiesił działalność w 1968 roku - ponowna reaktywacja nastąpiła w 1992 roku.</p>
    </div>

    <div class="sectionAbout">
        <h2>KONTROWERSJE</h2>
        <p>Klub zawiesił działalność w 1934 roku w nietypowych okolicznościach. W czasie meczu o awans do B-klasy z zespołem z krakowsikego Prokocimia wywiązała się strzelanina.
            Przy użyciu pistoletu swoje niezadowolenie z otrzymania czerwonej kartki wyrażał jeden z piłkarzy. Relacje z tego wydarzenia są sprzeczne w zakresie
            przynależności klubowej porywczego strzelca, jednak to Warna jako gospodarz meczu została surowo ukarana- dwuletnim zakazem działalności.</p>
    </div>
</div>
{% endblock %}