{% extends "base.html" %}
{% block content %}
    <div class="slideshow-container">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <!-- <div class="swiper-slide"><img src="../static/1_matchday_banner_on_page_official.png"></div> -->
                <div class="swiper-slide"><img src="../static/szkolka_img.png"></div>
                <div class="swiper-slide"><img src="../static/photo2.png"></div>
                <div class="swiper-slide"><img src="../static/photo3.png"></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>

    <br>
    
    <div class="entries-container">
      <div class="main-entry">
        <div id="entries0"></div>
      </div>
    </div>

    <script>
        const swiper = new Swiper('.swiper', {
          autoplay: {
            delay: 8000,
            disableOnInteraction: false,
            },

          loop: true,

          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },

          navigation: {
            prevEl: '.swiper-button-prev',
            nextEl: '.swiper-button-next',
          },

        });

        console.log('Width: ' + window.innerWidth + 'px');

        document.addEventListener('DOMContentLoaded', loadEntries);
    </script>
{% endblock %}